################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Shadowrun/FileContentIndex
/.vs/Shadowrun/v17/TestStore/0
/.vs/Shadowrun/v17
/.vs/Shadowrun/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
