html, body {
    height: 100%;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main.page-content {
    flex: 1 1 100%;
}

@media screen and (min-width: 60rem) {
    body {
        background: #EEE;
    }
    .page-wrapper {
        max-width: 60rem;
        margin: 0 auto;
        box-shadow: 0.3em 0 1em rgba(0, 0, 0, 0.6);
    }
    main.page-content, header.site-header, footer.site-footer {
        padding: 1rem;
    }
    header.site-header {
        flex: 0 0 4rem;
    }
}
@media screen and (min-width: 30rem) and (max-width: 60rem) {
    main.page-content {
        padding: 1rem;
    }
    header.site-header {
        padding: 0.4rem 1rem;
        flex: 0 0 3rem;
    }
    footer.site-footer {
        padding: 0.4rem 1rem;
    }
}
@media screen and (max-width: 30rem) {
    main.page-content {
        padding: 0.4rem 0.2rem;
    }
    header.site-header {
        padding: 0.4rem 0.2rem;
        flex: 0 0 2rem;
    }
    footer.site-footer {
        padding: 0.4rem 0.2rem;
    }
}
